body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.width-30{
  width: 20rem;
}

.w-10{
  width: 10rem;
}

.d{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dFalign{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.bheight{
  height: 100%;
  width: 15rem;
}
.h100{
  height: 100%;
}